<html>
  <%- include header.ejs %>
  <body>
    <main id="intro">
      <h1>thesudorm</h1>
      <p>Husband. Technophile.</p>
      <nav>
        <a href="/blog">Blog</a> &middot;
        <a href="https://github.com/thesudorm">GitHub</a> &middot;
        <a href="https://twitter.com/thesudorm">Twitter</a>
      </nav>
    </main>
  </body>
</html>
