        <!-- Sidebar  -->
        <div id="sidebar">
            <h4 class="thesudorm">thesudorm</h4>
            <br>
            <a href="/">Home</a>
            <br>
            <a href="/blog">Blog</a>
            <br>
            <a href="https://github.com/thesudorm">Github</a>
            <br>
            <a href="mailto:root@thesudorm.com">root@thesudorm.com</a>
        </div>
